.viewport {
    width: 100%;
    display: table;
}

.side-panel {
    /* position: absolute; */
    float: left;
    /* left: 0px; */
    width: 265px;
}

.main {
    /* position: absolute; */
    float: right;
    /* right: 0px; */
    width: calc(100% - 265px);
}

.event-title {
    font-size: 1.25rem;
    margin-bottom: 0.1rem;
}


/* ------- copied from blueprint -----------------------------*/

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

a {
    color: #106ba3;
}

a:hover {
    text-decoration: underline;
}

a.tab {
    text-decoration: none;
}

body {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.28581;
    text-transform: none;
    color: #182026;
    font-family: -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", "Helvetica Neue", "Icons16", sans-serif;
}